@page "/"
@using Backlang.Codeanalysis.Parsing

<PageTitle>Playground</PageTitle>

<textarea class="border-2 min-w-[50%] min-h-screen" @bind="@Code" />

<p role="status">Current Error Count: @ErrorCount</p>
<p role="status">Error: @Error</p>
<p role="status">text: @Code</p>

<button class="btn btn-primary rounded-md m-3" @onclick="@Compile">Compile</button>

@code {
	[Parameter]
	public string Code { get; set; }

	[Parameter]
	public int ErrorCount { get; set; } = 0;

	[Parameter]
	public string Error { get; set; } = "Cool";

	public void Compile()
	{
		var p = Parser.Parse(new SourceDocument("playground.back", Code));

		ErrorCount = p.Messages.Count;

		if (ErrorCount > 0)
		{
			Error = string.Join("\n", p.Messages.Select(_=> _.ToString()));
		}
		else
		{
			Error = "";
		}
	}
}